@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    height: 5rem;
    display: flex;
    justify-content: center;
    background-color: rgb(253, 0, 90);
}

.nav-container {
    width: 80%;
    height: 100%;
    display: flex;
    background-color: transparent;
}

.item-esquerda {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: .3s;
    cursor: pointer;
}

.item-esquerda:hover {
    padding-left: 1.25rem;
    width: 100%;
    background-color: rgb(5, 241, 255);
}

.item-direita {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .3s;
}

.menu-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    cursor: pointer;
}

.menu-item:hover {
    width: 100%;
    background-color: rgb(56, 0, 58);
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

a > img {
    max-height: 11.25rem;
}

@media screen and (max-width: 1528px) {

    nav {
        height: 100%;
        justify-content: center;
    }

    .nav-container {
        width: 100%;
        display: block;
    }

    .item-esquerda {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;
    }

    a > img {
        max-height: 9.375rem;
    }

    .item-direita {
        width: 100%;
        height: 100%;
        display: block;
        justify-content: space-around;
        align-items: center;
        transition: .3s;
    }
    
    .menu-item {
        padding: 1.25rem;
    }

}