.main-container {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

form {
    padding-top: 50px;
    background-color: rgb(56, 0, 58);
    width: 30vw;
    min-width: 400px;
    height: 50vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 0 50px 3px rgba(56, 0, 58, 0.2);
}

form > div {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form  input {
    width: 80%;
    height: 40px;
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1.5px solid white;
    padding: 0.30rem 0;
    font-size: 1.1em;
}

.border-bottom-red {
    border-bottom: 1.5px solid red;
}

.border-bottom-white {
    border-bottom: 1.5px solid white;
}

.email, .password {
    display: flex; 
    flex-direction: column;
}

.label-form {
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: flex-start;
    width: 80%;
}

.erro-input {
    padding-top: 0.2rem;
    height: 50px;
    color: red;
    visibility: visible;
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.mostrar {
    visibility: visible;
}

.esconder {
    visibility: hidden;
}

.login {
    color: white;
    text-transform: uppercase;
    font-size: 1.8em;
}

form input:focus {
    border-bottom: 1.5px solid rgb(5, 241, 255);
}

button {
    width: 80%;
    height: 60px;
    background-color: white;
    color: rgb(56, 0, 58);
    font-size: 1.3em;
    outline: none;
    border: none;
    transition: .50s;
    border: 1.5px solid white;
}

.button-disabled {
    background-color: gray;
    color: rgba(56, 0, 58, 0.5);
}

.button-hover {
    cursor: pointer;
    background-color: rgb(56, 0, 58);
    color: rgb(5, 241, 255);
    border: 1.5px solid white;
    box-shadow: 0 0 30px 3px rgba(5, 241, 255, 0.5);
}

.msg-cadastro {
    color: white;
}

p {
    color: white;
}

.cadastre-se {
    text-decoration: underline;
    color: rgba(253, 0, 90);
    transition: .3s;
}

.cadastre-se:hover {
    cursor: pointer;
    color: rgb(5, 241, 255);
};
