.menu-item {
    border: 0.313rem solid transparent;
}

.item5 {
    border-bottom: 0.313rem solid rgb(56, 0, 58);
}

.main-container {
    width: 100vw;
    position: relative;
    top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

form {
    padding-top: 3.125rem;
    background-color: rgb(56, 0, 58);
    width: 35rem;
    height: 32rem;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1.2rem;
    box-shadow: 0 0 3.125rem 0.188rem rgba(56, 0, 58, 0.2);
}

form > div {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    width: 80%;
    height: 2.5rem;
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 0.094rem solid white;
    padding: 0.30rem 0;
    font-size: 1.1em;
    box-shadow: 0 0 3.125rem 0.188rem rgba(56, 0, 58, 0.2);
}

.border-bottom-red {
    border-bottom: 0.094rem solid red;
}

.border-bottom-white {
    border-bottom: 0.094rem solid white;
}

.nome, .email, .password {
    display: flex; 
    flex-direction: column;
}

.label-form {
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: flex-start;
    width: 80%;
}

.erro-input {
    padding-top: 0.2rem;
    height: 3.125rem;
    color: red;
    visibility: visible;
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.mostrar {
    visibility: visible;
}

.esconder {
    visibility: hidden;
}

form input:focus {
    border-bottom: 0.094rem solid rgb(5, 241, 255);
}


form  input::placeholder {
    color: white;
}

button {
    width: 80%;
    height: 3.75rem;
    background-color: white;
    color: rgb(56, 0, 58);
    font-size: 1.3em;
    outline: none;
    border: none;
    transition: .50s;
    border: 0.094rem solid white;
}

.button-disabled {
    background-color: gray;
    color: rgba(56, 0, 58, 0.5);
}

.button-hover {
    cursor: pointer;
    background-color: rgb(56, 0, 58);
    color: rgb(5, 241, 255);
    border: 0.094rem solid white;
    box-shadow: 0 0 1.875rem 0.188rem rgba(5, 241, 255, 0.5);
}

.msg-entrar {
    color: white;
}

p {
    color: white;
}

.entrar {
    text-decoration: underline;
    color: rgba(253, 0, 90);
    transition: .3s;
}

.entrar:hover {
    cursor: pointer;
    color: rgb(5, 241, 255);
}

.msg-usuario-cadastrado {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -6.25rem;
    width: 100vw;
    height: 6.25rem;
    background-color: rgb(141, 226, 13);
    color: black;
    position: absolute;
    transition: top .5s;
}

.msg-email-indisponivel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -12.5rem;
    width: 100vw;
    height: 12.5rem;
    background-color: rgb(255, 94, 0);
    color: white;
    position: absolute;
    transition: top .5s;
}

.top-0 {
    top: 0;
}

@media screen and (max-width: 1528px) {

    .item5 {
        border-bottom: 0.313rem solid transparent;
        background-color: rgb(206, 17, 83);
    }

}