.main-container {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

form {
    padding-top: 50px;
    background-color: rgb(56, 0, 58);
    width: 30vw;
    min-width: 400px;
    height: 50vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

form > div {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form  input {
    width: 80%;
    height: 40px;
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1.5px solid white;
    padding: 5px;
    font-size: 1.1em;
}

form input:focus {
    border-bottom: 1.5px solid rgb(5, 241, 255);
}


form  input::placeholder {
    color: white;
}

button {
    width: 80%;
    height: 60px;
    background-color: white;
    color: rgb(56, 0, 58);
    font-size: 1.3em;
    outline: none;
    border: none;
    transition: .50s;
    border: 1.5px solid white;
}

button:hover, button:focus {
    cursor: pointer;
    background-color: rgb(56, 0, 58);
    color: rgb(5, 241, 255);
    border: 1.5px solid white;
    box-shadow: 0 0 30px 3px rgba(5, 241, 255, 0.5);
}

.msg-entrar {
    color: white;
}

p {
    color: white;
}

.entrar {
    text-decoration: underline;
    color: rgba(253, 0, 90);
    transition: .3s;
}

.entrar:hover {
    cursor: pointer;
    color: rgb(5, 241, 255);
}